.idea\*
archivos\Assortments\*
archivos\bajada_embarque\*
archivos\bmt\*
archivos\curva\*
archivos\factura_comex\*
archivos\json\*
archivos\log_querys\*
archivos\pi\*
tmp\*
*.xls
*.xlsx
.idea/c1-web.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jshint.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
